.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;  
}

body {
  padding-top: 70px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #fafafa;
  border-bottom: 2px solid #ccc;
  height: 70px;
  width: 100%;
}

.nav li {
  float: left;
  width: auto;
}

.nav li a {
  padding: 25px 10px;
  display: block;
}

#hero {
  background: url(../images/multi2.jpg) no-repeat top left;
  text-align: center;
  height: 350px;
  padding: 25px 0;
  background-size: cover;
}

#hero h2 {
  font-size: 36px;
}

#hero img {
  width: 150px;
  border-radius: 10px 40px;
}

