.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;  
}

body {
  padding-top: 70px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #fafafa;
  border-bottom: 2px solid #ccc;
  height: 70px;
  width: 100%;
}

.nav li {
  float: left;
  width: auto;
}

.nav li a {
  padding: 25px 10px;
  display: block;
}

#hero {
  background: url(../images/multi2.jpg) no-repeat top left;
  text-align: center;
  height: 350px;
  padding: 25px 0;
  background-size: cover;
}

#hero h1 {
  font-size: 36px;
}

#hero img {
  width: 150px;
  border-radius: 10px 40px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.column {
  width: 100%;
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.job {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0064e6;
  padding: 24px 15px;
}

#social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  padding: 50px;
  height: 300px;
}

#social-links li {
  padding: 16px;
}

footer {
  padding: 100px;
  background-color: #0064e6;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

@media only screen and (min-width: 992px) {
  #hero h1 {
    font-size: 48px;
    color: red;
  }

  .column {
    width: 30%;
    border: 1px solid red;
    background-color: palevioletred
  }
}

@media only screen and (max-width: 576px) {
  .flex-container {
    display: block;
  }
  .column {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .column {
    width: 45%;
    border: 1px dotted green;
    background-color: papayawhip;
  }
  #hero h1 {
    font-size: 48px;
    color: green;
  }
}

@media only screen and (min-width: 1200px) {
  .column {
    width: 20%;
    border: 1px double purple;
    background-color: plum;
  }
  #hero h1 {
    color: purple;
  }
}
